{% extends "webapp/layout.html" %}

{% block body %}

<div class="gap-4 m-8 text-center">
    <a href="{% url 'add' deck.id %}" class="mx-3">
        <i class="fa-solid fa-plus"></i> Add Card
    </a>
    <a href="{% url 'delete-deck' deck.id %}" class="mx-3">
        <i class="fa-solid fa-trash"></i> Delete Deck
    </a>
    <a href="{% url 'edit-public' deck.id %}" class="mx-3">
        <i class="fa-solid fa-user-lock"></i> 
        {% if deck.public %}
            Make Private
        {% else %}
            Make Public
        {% endif %}
    </a>
</div>

{% for card in cards %}
    <div class="grid grid-cols-3 my-6">
        <div class=""></div>

        <div class="flex flex-col justify-center font-serif p-4 w-full">
            <div class="front-page flex-1 text-center border border-gray-300 rounded p-4 bg-amber-50">
                {{ card.front }}
            </div>
            <div class="back-page flex-1 text-center border border-gray-300 rounded p-4 bg-orange-50">
                {{ card.back }}
            </div>
        </div>
        
        <div class="pt-6">
            <p>
                <a 
                    href="{% url 'change' card.id %}" 
                >
                    <i class="fa-solid fa-pencil"></i>
                </a>
            </p>
            <p>
                <a 
                    href="{% url 'delete-card' card.id %}" 
                >
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </p>
        </div>
    </div>
{% endfor %}

{% endblock %}